<ion-view title="Local Notifications">
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</div>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <button class="button button-block button-positive" ng-click="hasPermission()">Has Permission?</button>
    <button class="button button-block button-positive" ng-click="grantPermission()">Grant Permission</button>
    <button class="button button-block button-positive" ng-click="schedule()">Schedule</button>
    <button class="button button-block button-positive" ng-click="scheduleDelayed()">Delay Schedule</button>
  </ion-content>
</ion-view>