<ion-view title="Add a Beacon">

  <ion-nav-buttons side="right">
      <button class="button button-clear">Save</button>
</div>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="list list-inset">
      <label class="item item-input item-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title">
      </label>
      <label class="item item-input item-label">
        <span class="input-label">By</span>
        <input type="text" placeholder="By">
      </label>
      <label class="item item-input item-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description">
      </label>
      <label class="item item-input item-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="Location">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Brand
        </div>
        <select>
          <option>Rad Beacon</option>
          <option selected>Estimote</option>
          <option>Other</option>
        </select>
      </label>
      <br>
      <button class="button button-block button-balanced">
        Save
      </button>
    </div>
  </ion-content>
</ion-view>