/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
